<div class="categories">
    <ul>
        <h3>Категорії</h3>
        <li><a asp-action="Index" asp-controller="BeeHive">Vyluck</a></li>
        <li><a asp-action="Index" asp-controller="Statistics">Statistick</a></li>
        <li><a asp-action="Index" asp-controller="Collection">Zbir producty</a></li>
        <li><a asp-action="Index" asp-controller="Calendar">Calendar</a></li>
        <li><a href="#">...............</a></li>
        <li><a href="#">...............</a></li>
        <li><a href="#">...............</a></li>
        <li><a href="#">......&amp; .....</a></li>
    </ul>
</div>
