@using Microsoft.AspNetCore.Identity
@using WorkMagistrBee17.Models

@inject SignInManager<WMB.Data.DataContext.ApplicationUser>SignInManager
@inject UserManager<WMB.Data.DataContext.ApplicationUser>UserManager

@if (SignInManager.IsSignedIn(User))
{
 <form asp-area="" asp-controller="MyApiary" asp-action="Index">
              @await Html.PartialAsync("Index","MyApiary")
 </form>
}
else
{
 <ul class="nav navbar-nav navbar-right">
     <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
     <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
 </ul>
}
